/*
 * Globals
 */

@font-face {
    font-family: "Impact";
    src: url("../font/3Dumb/3Dumb.ttf") format("truetype");
}

@font-face {
    font-family: "Hilarious";
    src: url("../font/hilarious/HilariousComics.ttf") format("truetype");
}

@font-face {
    font-family: "interplanetary";
    src: url("../font/interplanetary/interplanetary.ttf") format("truetype");
}

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}
a:link
{
    text-decoration:none;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}

/*Formas*/





/*
 * Base structure
 */

.container{
    position: absolute;
    z-index: 2;

}

html,
body {
    height: 100%;
    background: url("../img/backgroundP.jpg") no-repeat center;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;

}
body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    font-family: interplanetary;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    position: absolute;
    z-index: 3;
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(255,255,255,.3);
    box-shadow: inset 0 0 100px rgba(255,255,255,.3);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: left;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (max-width: 768px) {

    .trapecio {
        display: none;
    }

    .jumbotron {
        opacity: 0.6;
        background-color: red;
        color: black;
    }

    .cometa{
        display: none;
    }

}

@media (min-width: 768px) {

    .cometa {
        position: absolute;
    }

    .jumbotron {
        display: none;
    }

    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }

    /* Effect 11: text fill based on Lea Verou's animation http://dabblet.com/gist/6046779 */
    nav a {
        position: relative;
        display: inline-block;
        margin: 15px 25px;
        outline: none;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        font-size: 3em;
    }

    nav a:hover,
    nav a:focus {
        outline: none;
    }

    .cl-effect-11 a {
        padding: 10px 0;
        border-top: 2px solid #0972b4;
        color: #0972b4;
        text-shadow: none;
    }

    .cl-effect-11 a::before {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        padding: 10px 0;
        max-width: 0;
        border-bottom: 2px solid #fff;
        color: #fff;
        content: attr(data-hover);
        -webkit-transition: max-width 0.5s;
        -moz-transition: max-width 0.5s;
        transition: max-width 0.5s;
        white-space: nowrap;
    }

    .cl-effect-11 a:hover::before,
    .cl-effect-11 a:focus::before {
        max-width: 100%;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */


@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}
